<!DOCTYPE html>
<html lang="es-ec">

<head>
<meta charset="utf-8">
<title>Preguntas Recientes</title>
</head>

<body>
{%  if lista_preguntas_recientes %}
    <ul>
        {% for pregunta in lista_preguntas_recientes %}
            <li><a href="{% url 'encuestas:detalle' pregunta.id %}">{{ pregunta.texto_pregunta }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay encuestas disponibles.</p>
{% endif %}
</body>

</html>