<!DOCTYPE html>
<html lang="es-ec">

<head>
<meta charset="utf-8">
<title>Resultados</title>
</head>

<body>
<h1>{{ pregunta.texto_pregunta }}</h1>

<ul>
    {% for eleccion in pregunta.eleccion_set.all %}
        <li>{{ eleccion.texto_eleccion }} -- {{ eleccion.votos }} voto{{ eleccion.votos|pluralize }}</li>
    {% endfor %}
</ul>

<a href="{% url 'encuestas:detalle' pregunta.id %}">¿Votar otra vez?</a>
</body>

</html>
